<div class="text-center">
  <span class="display-6">Search by </span>
  <strong class="display-4">Country</strong>
</div>
<hr />

<div class="row">
  <div class="col">
    <!--search box-->
    <span class="text-muted"> Write to search:</span>
    <shared-search-box
      [placeholder]="placeholder"
      (onDebounce)="searchByCountry($event)"
    ></shared-search-box>
  </div>
</div>

<hr />

<div class="row">
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
