<div class="text-center">
  <span class="display-6">Search by </span>
  <strong class="display-4">Capital</strong>
</div>

<hr />

<div class="row">
  <div class="col">
    <!--search box-->
    <span class="text-muted"> Write to search a country:</span>
    <shared-search-box
      [placeholder]="placeholder"
      (onDebounce)="searchByCapital($event)"
    ></shared-search-box>
  </div>
</div>

<hr />

<div class="row">
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
    <div class="d-flex justify-content-center" *ngIf="isLoading">
      <shared-loading-spinner></shared-loading-spinner>
    </div>
  </div>
</div>
