.image-avatar {
  width: 46px;
  height: 46px;
}
.main-image-card {
  padding: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card {
  max-width: 400px;
}

.img-container {
  height: 250px;
}
